/* App.css */

.app-container {
    background: linear-gradient(270deg, #667eea, #764ba2, #667eea);
    background-size: 600% 600%;
    animation: gradientWave 15s ease infinite;
}

  
@keyframes gradientWave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}